<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Templates</title>
</head>
<body>
<h1>Hello How are you</h1>
<form action="/remove" method="get" >
    <textarea style="width:60%;height:150px; " name="n1"></textarea><br>
    <input type="checkbox" name="check">Remove Punchtuation<br>
    <input type="checkbox" name="upperChar">UPPERCASE<br>
    <input type="checkbox" name="lowerChar">lower<br>
    <input type="checkbox" name="removenewline">Remove New Line<br>
    <input type="checkbox" name="removespace">Remove Space Char<br>
    <input type="checkbox" name="countchar" >Count Character<br>
    <button  style="width: 100px;height: 30px;position: relative;display: flex;justify-content: center;align-items: center;
    background: azure;"type="submit">Click me</button>

</form>
</body>
</html>